#cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

#cardContainer  div {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
table {
    border-collapse: collapse;
}